h1 {
  margin-top: 20px;
}

.group-image {
  width: 40%;
  border: 1px solid black;
}

.group-details {
  width: 40%;
  border: 1px solid black;
  padding: 50px;
}

.group-posts-container {
  border: 1px solid black;
  width: 60%;
}
