h1 {
  padding: 20px;
  font-weight: bold;
}

div {
  border: 1px black solid;
}
.row {
  margin-left: 10px;
  margin-right: 10px;
}

.groups {
  width: 21%;
}

.posts {
  width: 59%;
}

.users {
  width: 20%;
}
